---
pagination:
  data: authors
  size: 1
  alias: author
permalink: "authors/{{ author.name | slugify }}/"
eleventyComputed:
  title: "{{ author.name }} | {{ meta.siteTitle }}"
layout: layout.njk
---
<article class="mb-32">
  <div class="tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left">
    <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold tracking-tighter leading-tight md:leading-none text-center md:text-left">
      {{ author.name }}
    </h1>
    {% if author.shortDescription %}
      <p class="mt-6 text-lg">{{ author.shortDescription }}</p>
    {% endif %}
  </div>
  <section className="grid grid-cols-1 row-gap-0 mb-32">
    {% for post in collections.post | reverse %}
      {% if post.data.author == author.name %}
        <div class="border-b-2 pb-8 mb-10">
          {% if post.data.imageSrc %}
            <div class="mb-5">
              <div class="sm:mx-0">
                <a aria-label="{{ post.data.postTitle }}" href="/posts/{{ post.fileSlug }}">
                  <img src="/posts/{{ post.fileSlug }}/{{ post.data.imageSrc }}" alt="{{ post.data.imageAlt }}" class="shadow-small hover:shadow-medium transition-shadow duration-200 w-full"/>
                </a>
              </div>
            </div>
          {% endif %}
          <h3 class="text-3xl mb-3 leading-snug">
            <a class="hover:underline" href="/posts/{{ post.fileSlug }}">{{ post.data.postTitle }}</a>
          </h3>
          <div class="text-lg markdown">
            {% excerpt post %}
          </div>
          <div class="text-md my-4">
            <time datetime="{{ post.data.date }}">{% formatDate post.data.date %}</time> - {{ post.content | readingTime }} read
      </div>
          <div class="flex items-center">
            {% for a in authors %}
              {% if a.name == post.data.author %}
                <a aria-label="{{post.data.author}}" href="/authors/{{post.data.author | slugify }}">
                  <img
              src="/images/authors/{{a.avatar}}"
              class="w-12 h-12 rounded-full mr-4"
              alt="{{post.data.author}}"
/>
                </a>
              {% endif %}
            {% endfor %}
            <a class="text-xl font-bold hover:underline" href="/authors/{{post.data.author | slugify }}">
              {{post.data.author}}
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>
</article>
