@tailwind base;

/* Write your own custom base styles here */

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

blockquote {
  @apply ml-4 pl-4 border-gray-400 border-l-4
}

figcaption {
  @apply text-center italic py-2
}

ul {
  @apply list-inside list-disc
}

li:not(:last-of-type) {
  @apply mb-4
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
