name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://engineering.fishbrain.com

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Install
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Deploy
        if: ${{ success() }}
        run: |
          echo "Deploying production to ${{ secrets.S3_OUTPUT_URL }} from Github environment"
          echo "... uploading to ${{ secrets.S3_OUTPUT_URL }}"
          aws s3 sync _site ${{ secrets.S3_OUTPUT_URL }} --delete
          echo "... done"
